.journal__main-container{
    display: flex;
}

.journal__sidebar{
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;
    width: 350px;
}

.journal__sidebar-nabvar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    h3{
        margin: 0;
        font-weight: lighter;

        span{
            margin-left: 10px;
        }
    }
}

.journal__new-entry{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .fab{
        position: relative;
        cursor: pointer;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar{
            display: flex;
            width: 40px;
            height: 40px;
            border: 1px solid $light-grey;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;

            transition: background-color 0.3s ease;

            &:hover{
                color: $primary;
                background-color: #d1d1d1;
            }

            &:hover::after{
                position: absolute;
                content: "New Entry";
                display: block;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
                width: 60px;
                padding: 5px;
                background: white;
                border-radius: 5px;
                border: 1px solid #d1d1d1;
                left: calc( -100% - 40px );
            }
        }
    }
}

.journal__entries{
    flex: 1 1 auto;
    margin-top: 30px;
    overflow: auto;

    .journal__entry{
        background: white;
        color: $dark-grey;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 5px;

       .journal__entry-picture{
            height: 75px;
            width: 75px;
            min-width: 75px;
            min-width: 75px;
            background-size: cover;

        }
    }
}

.journal__entry-body{
    padding: 10px;
    max-height: 75px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;

    .journal__entry-title{
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
    }

    .journal__entry-content{
        font-size: 10px;
        position: absolute;
        height: calc( 100% - 30px );
        overflow: hidden;
    }
}

.journal__entry-date-box{
    width: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    
    span{
        font-size: 12px;
    }
}